.header {
  display: flex;
  font-size: 26px;
  margin-top: 10px;
}

.logo {
  font-weight: bold;
  color: #2196F3;
  margin: 0;
}

.Carteira {
  font-weight: bold;
  color: black;
  margin-left: 5px;
}
