* {
  font-family: 'Nunito', sans-serif;
}

.findExpensives {
  margin-top: 40px!important;
  display: flex;
  justify-content: space-between;
}

.parent {
  display: flex;
  gap: 10px;
}

.parent > .parent1 {
  border-radius: 5px;
  border: 2px solid purple;
  padding: 0 5px;
}

.parent > .parent1 > input {
  border: none;
}

.parent1 input:focus-visible {
  outline: none;
}

.parent1 > .clearBtn {
  padding: 0 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: purple;
}

.parent > .searchBtn {
  padding: 5px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: purple;
}

.parent > .searchBtn:hover {
  background-color: rgb(100, 1, 100);
  transition: all 0.2s;
}

select {
  margin-left: 30px!important;
  color: purple;
  border: 2px solid purple;
  border-radius: 5px;
  padding: 0 5px;
  background-color: white !important;
}

.sectionExpansives{
  margin-top: 40px;
}

.addButton{
  display: flex;
  justify-content: end;
}

.btnAdd{
  padding: 5px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #44A4EC;
}

.btnAdd:hover{
  background-color: #3c8ecc;
  transition: all 0.2s;
}

@media (max-width: 767px) {
  .findExpensives{
    display: flex;
    flex-wrap: wrap;
  }

  select {
    margin-left: 96px!important;
  }

  .addButton{
    margin-top: 15px;
    display: block;
  }

  .btnAdd{
    width: 100%;
  }
}