* {
  font-family: "Nunito", sans-serif;
}

span > button {
  display: flex;
  align-items: center;
  background-color: rgb(0, 128, 0);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

span > button:hover {
  background-color: rgb(1, 92, 1);
  transition: all 0.5s;
}
