
* {
  font-family: 'Nunito', sans-serif;
}

.findExpensives {
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
}

.parent {
  display: flex;
  justify-content: space-between;
}

.parent > .parent1 {
  border-radius: 5px;
  border: 2px solid purple;
  padding: 5px;
}

.parent > .parent1 > input {
  border: none;
}

.parent1 input:focus-visible {
  outline: none;
}

.parent1 > .clearBtn {
  padding: 0 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: purple;
}

.parent > .searchBtn {
  padding: 5px;
  cursor: pointer;
  border: none;
  margin-left: 10px;
  border-radius: 5px;
  color: white;
  background-color: purple;
}

.parent > .searchBtn:hover {
  background-color: rgb(100, 1, 100);
  transition: all 0.2s;
}

select {
  color: purple;
  border: 2px solid purple;
  border-radius: 5px;
  padding: 0 5px;
  background-color: white !important;
}

.sectionExpansives{
  margin-top: 40px;
}