.user {
  display: flex;
  margin-top: 10px;
  align-items: center;
}

img {
  margin-bottom: 4px;
  width: 25px;
}

.user > div {
  margin-left: 15px;
}

.user > .name {
  color: orange;
}

.user > .exit{
    margin-left: 15px;
}

@media screen and (max-width: 320px) {
 .userImg, .name{
  display: none;
 }   
}
