table {
    width: 100%;
  }
  
  table thead th{
    padding: 10px 5px;
  }
  
  table tbody tr {
    border-bottom: 1px solid #ddd;
    font-family: 'calibri', sans-serif;
    font-size: 1.1rem;
  }
  
  table tbody tr:hover {
    color: white;
    background-color: rgba(128, 0, 128, 0.815);
    transition: all .5s;
  }
  
  table tbody td {
    padding: 10px 5px;
    text-align: center;
  }